.my-footer {
  height: 5em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: white;
  font-size: 80%;
}

.notie-container {
  box-shadow: none;
}

.datePicker {
  z-index: 10000;
}
